body {
    text-align: center; /* Center-align all content */
}

.tabs {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.tab {
    padding: 0.5rem 1rem;
    background-color: transparent;
    cursor: pointer;
    margin: 0 10px;
    transition: color 0.3s ease; /* Add a transition for color change */
}

.tab:hover {
    color: darkslateblue; /* Change color on hover */
}

.tab.active {
    color: darkslateblue; /* Set active tab color */
}

/* Add a class for the active tab */
.active-tab {
    position: relative;
}

  /* Add a pseudo-element to create the line */
.active-tab::after {
    content: "";
    position: absolute;
    bottom: -2px; /* Adjust the position of the line */
    left: 0;
    width: 100%;
    height: 2px;
    background-color: darkslateblue; /* Change this to your desired line color */
}


.container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 2rem;
}

.technologies {
    display: none;
    flex-basis: 100%; /* Take up full width */
    justify-content: center; /* Align items from left to right */
    align-items: center;
    margin-top: 1rem;
}


.technologies.active {
    display: flex;
    flex-wrap: wrap;
} 

.technology {
    flex: 0 0 calc(13% - 2rem); /* Adjust width for proper spacing */
    max-width: calc(13% - 2rem); /* Adjust max-width for responsive resizing */
    height: 80px;
    padding: 1rem;
    text-align: center;
    border: 1px solid #ddd;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}


.technology img {
    max-width: 80%;
    max-height: 50%;
    object-fit: contain;
    margin-bottom: 0.5rem;
} 

.technology p {
    margin: 0; /* Remove margin to prevent overflow */
    padding: 0.5rem 0; /* Add padding for text */
    overflow: hidden; /* Hide any overflowing text */
}

.separator {
    width: 100%;
    border-top: 1px solid #ddd;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
} 

header {
    margin-bottom: 2rem;
}

/* Responsive layout */

@media screen and (max-width: 768px) {
    .container {
      flex-direction: column; /* Stack technologies vertically on small screens */
      align-items: center; /* Center-align items */
      padding: 1rem; /* Adjust padding for smaller screens */
    }

    .technology {
      flex: 0 0 calc(50% - 1rem); /* Adjust width for smaller screens */
      max-width: calc(50% - 1rem); /* Adjust max-width for responsive resizing */
      height: auto; /* Let the height adjust based on content */
      margin: 0.5rem; /* Add margin to separate technologies */
    }

    .technology img {
      max-width: 60%; /* Adjust image size for smaller screens */
      max-height: 40%; /* Adjust image size for smaller screens */
    }

    .tab {
      padding: 0.3rem 0.5rem; /* Adjust padding for smaller screens */
    }
}

